select {
    margin-left:3px;
    margin-right:3px;
}

/*#dtBasicExample_info {
    width: 33.333333%;
}

#dtBasicExample_paginate {
    width: 66.666667%;
}*/

table{
    font-size: 100%;
}

.odd {
    background-color: #70798a;
}

.word-break {
    word-break:normal;
}

a {
    color: #852339
}

.home-link {
    font-size: x-large;
}
.paginate_button{
    background-color: #852339;
}

.bg-primary {
    background-color: #852339 !important;
}

.navbar {
    border-radius: 0px !important;
}

.nav-link {
    color: white !important;
}

.btn-search-navbar {
    background-color: white;
    color: #852339;
}

.thead-ercis {
    background-color: #852339;
    color: white;
}

.dropdown-toggle {
    background-color: #852339;
}

.dropdown-toggle:hover {
    background-color: #666;
    color: white;
}

#page-content-wrapper {
    min-width: 100%;
}

.myTooltip {
    padding:2px;
    width:auto;
    height: 100%;
}

.searchbar {
    height: 100%;
}