<h1>Help</h1>

<p>This website consists out of three tables that summarize information about the usage and research in the field of People Analytics. In particular, these contain inforamtion about vendors, consultancies and academics. Each of the three overview tables has filter and sorting functionalities. Additionally, you can get detailed information by clicking on the specific hyperlink in the overview table.</p>

<p>To get more information about the columns, your can read the tooltips by hovering over the table heads. Column description: </p>