<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom bg-primary">  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0  align-items-center col-sm-12">
        <li class="nav-item active col-sm-6">
          <a class="nav-link home-link" href="index.html"> <img src="../resources/icon/favicon.ico" height="42" width="42" > People-Analytics Wiki <span class="sr-only">(current)</span></a>
        </li>

        <li class="pull-right col-sm-6 align-self-center">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0  align-items-center pull-right">
            <li class="nav-item active">
              <a href="help.html" class="nav-link site-link">Help</a>
            </li>
            <li class="nav-item active">
              <a href="about.html" class="nav-link site-link">About</a>
            </li>
            <li class="pull-right">
              <form class="form-inline my-2 my-lg-0 navbar-search pull-right">
                <input class="form-control mr-sm-2 btn-search-navbar" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 btn-search-navbar" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>