<!DOCTYPE html>
<meta charset="ANSI">
<html>
  <head>
    <title>People Analytics Wiki - {{data[1]}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../datatables/datatables.css">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../datatables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../datatables/datatables.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    {%include 'head.html'%}
</head>

<body>
  <div class="d-flex" id="wrapper">

    <!-- Page Content -->
    <div id="page-content-wrapper">
      {% include 'navbar.html' %}
      <div class="container-fluid">
        <a href="index.html"><i class="fas fa-chevron-left"></i> Back</a>
        <h1>{{data[1]}}</h1>
        <table class="table table-striped table-bordered table-responsive display">
          <thead class="thead-ercis">
            <th class="th-sm">Aspect</th>
            <th class="th-sm">Description</th>
            <th clsss="th-sm">Extent</th>
          </thead>
          {% for row in data %}
            {% if loop.index0!=0%}
            <tr>
              <td>{{head[loop.index0]}}</td>
              <td>{{tooltip[loop.index0]}}</td>
              <td>{{row}}</td>
            </tr>
            {%endif%}
          {% endfor %}
        </table>
      </div>
</div>      
</body>