
<!DOCTYPE html>
<meta charset="ANSI">
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <title> People Analytics Wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../datatables/datatables.css">
    <link rel="stylesheet" href="../css/main.css">
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">-->
    <script type="text/javascript" src="../datatables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../datatables/datatables.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    {% include 'head.html' %}
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <!-- Page Content -->
      <div id="page-content-wrapper"> 
          {% include 'navbar.html' %}
        <div class="container-fluid table-whole-screen">
      <h1>Overview of People Analytics Software-Vendors</h1>
      <span style="width:100%">
        <div id="teaser">
          This table gives an overview of the most important People Analytics Software-Vendors. The table contains all available information about the vendors. Further, the table offers the function to toggle columns individually. You can search for a certain attribute by simply typing in your search term in the search field below. Additionally, you can order the table according the different features in the table heads. By clicking on a specific software vendor you can see the details about this software. Please note: if you have a samll display, it might be possible that not all columns are visible without scrolling.
        </div>
        <br>
        <div class="dropdown" id="toggle-dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Toggle Columns
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for row in data[0]%}
              {% if loop.index0!=0%}
                <a class="dropdown-item toggle-vis" data-column="{{loop.index0-1}}">{{row}}<span id="column-{{loop.index0-1}}" class="pull-right check-toggle"></span></a>
              {% endif%}
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item toggle-vis" data-column="999">Show all</a>
            <a class="dropdown-item toggle-vis" data-column="998">Hide all</a>
            <a class="dropdown-item toggle-vis" data-column="997">Show default</a>
          </div>
        </div>
      

      <table class="table table-striped table-bordered table-responsive display" id="dtBasicExample" cellspacing="0" data-mobile-responsive="true">

        <thead class="thead-ercis">
          {%for row in data[0]%}
            {%if loop.index0!=0%}
          <th class="th-sm" >
            <span data-toggle="tooltip" data-placement="bottom" title="{{data[1][loop.index0]}}" class="myTooltip">

                {{row}}

            </span>
          </th>
            {% endif %}
          {%endfor%}
        </thead>
  
        {% for row in data[2:data|length] %}
          <tr>
            {% for _ in range(1, data[0]|length) %}
              {% if _==1 %}
                <td>
                  <a href="{{row[_]}}.html">{{row[_]}}</a>
                </td>
              {% else %}
              <!-- TODO: vernünftige Trennung mehrerer Werte in einem Feld für vernünftige Badges. Funktioniert so schon ganz ok, aber ist noch nicht optimal-->
              <td class="word-break">
                {%if _==7 or _==8 or _==10 or _==13%} 
                  {%if "&" in row[_] or " or " in row[_] or " and " in row[_] or ", " in row[_] %}
                    {% set sub = row[_].replace(" or ", "&").replace(", ","&").replace(" and ", "&").split("&") %}
                    {%for row in sub %}
                      <span class="badge {{row.replace(' ','').replace('(','').replace(')','').lower()}}">{{row}}</span>
                    {% endfor %}
                  {%else%}
                    <span class="badge {{row[_].replace(' ','').replace('(','').replace(')','').lower()}}">{{row[_]}}</span>
                  {% endif %}
                {% else %}
                  {{row[_]}}
                {% endif %}
              </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </span>
  </div>    </div>
      </div>
      <!-- /#page-content-wrapper -->
  
    </div>
    <!-- /#wrapper -->
    <script>
      includeHTML();
      </script> 
  </body>
</html>